[flake8]
# musi być spójne z black
max-line-length = 120
# E203 - whitespace before ':', conflicts with black
# W503 - line break before binary operator, conflicts with black
# E501 - line too long, handled by max-line-length but good to be explicit
extend-ignore = E203, W503, E501
exclude =
    # No need to traverse our git directory
    .git,
    # There's no value in checking cache directories
    __pycache__
max-complexity = 10
